.section_3
{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #e12516;
    flex-shrink: 0;
    overflow: hidden;
}

.section_3
{
    --color: gray;
    background-image: linear-gradient( 0deg , transparent 24% , var(--color) 25% , var(--color) 26% ,  transparent 27% ,  transparent 74% , var(--color) 75% , var(--color) 76% , transparent 77% ,  transparent ) , 
    linear-gradient( 90deg , transparent 24% , var(--color) 25% , var(--color) 26% ,  transparent 27% ,  transparent 74% , var(--color) 75% , var(--color) 76% , transparent 77% ,  transparent );
    
    background-size: 100px 100px ;
}


.section_3 .letter
{
    position: relative;
    width: 100%;
    height: 740px;
    overflow-x: auto;
    overflow-y: hidden;
   
}


.section_3 .letter > img
{
    position: absolute;

    width: 700px;
    height: 1050px;

    top: 15px;
    left: 1050px;

    transform: rotate(90deg);
    transform-origin: top left;
    
    display: none;
}

.section_3 .password-box
{
    position: absolute;

    width: 280px;
    padding: 25px;

    top: 0%;
    left: 50px;

    transform: rotate(90deg) scaley(0.9) scalex(1.2);


    text-align: center;
    z-index: 10;
    
}



#password
{
    width: 180px;
    height: 45px;

    margin-bottom: 20px;

    font-size: 25px;
    text-align: center;

    letter-spacing: 8px;

    border: 3px solid black;
    outline: none;
}


.keypad
{
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 8px;

    width: 210px;

    margin: auto;
}


.keypad button
{
    height: 50px;
    width: 50px;

    font-size: 20px;
    font-weight: bold;

    background: #087b77;
    color: white;

    border-radius: 12px;

    cursor: pointer;

    box-shadow: 0 5px 0 #cdcca2;

    transition: 
        transform 0.1s ease,
        box-shadow 0.1s ease,
        background 0.2s ease;
}


.keypad button:hover
{
    background: #09948f;
}


.keypad button:active
{
    transform: translateY(5px);
    box-shadow: 0 0 0 black;
}

.keypad button:active
{
    transform: scale(0.95);
}


.login-btn
{
    width: 210px;
    height: 50px;

    margin-top: 18px;

    font-size: 18px;
    font-weight: bold;

    background: black;
    color: white;

    border: 3px solid black;
    border-radius: 12px;

    cursor: pointer;

    box-shadow: 0 5px 0 #087b77;

    transition:
        transform 0.1s ease,
        box-shadow 0.1s ease,
        background 0.2s ease;
}


.login-btn:hover
{
    background: #222;
}


.login-btn:active
{
    transform: translateY(5px);
    box-shadow: 0 0 0 #087b77;
}

#password-message
{
    margin-top: 10px;
}


.section_3 .letter-content
{
    display: none;
}

.section_3 .instructions
{
    position: absolute;
    width:300px;
    height: 200px;
    top: 100px;
    left: 270px;
    font-size: 50px;
    font-family: Story-Maker;
    color: #cdcca2;
}